<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <p>Новый пароль <input type="text" id="new_pass" name="new_pass"></p>
    <p>Повторите пароль <input type="text" id="re_pass" name="re_pass"></p>
    {% if err %}
        <p style="color: crimson">Пароли не совпадают!</p>
    {% endif %}
    <button type="submit" id = "change_pass">Восстановить</button>
    
</form>

</body>
</html>