<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
</head>
<body>
<form id = "change_password_form" method="post">
     {% csrf_token %}
    <p>Введите вашу email почту <input type="text" id = "input_email" name="input_email"></p>
    {% if error_occurred %}
        <p style="color: crimson">Такого email не существует!</p>
    {% endif %}
    <button type="submit" id="send">Отправить</button>
    
    
    
    
    
    
</form>


    

</body>
</html>